{% extends "base.html" %}

{%block content%}

<main class="container py-5">
    <section class= "card card-body">
     <h1 class = "display-1 text-center">Aplicación de las emociones</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum voluptate mollitia nulla quia, quo nesciunt repudiandae dolorem magnam praesentium! Voluptates eos incidunt nemo, blanditiis aut sequi quo obcaecati maiores qui.</p>
   <div class="text-center">
    <a class="btn btn-primary" href="/signin/">
      Iniciar sesión
    </a>
    <a class="btn btn-primary" href="/signup/">
        Registrarse
    </a>
   </div>
   
    </section>
</main>
<div class="row">
    <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Prueba 1</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <img src="..." class="img-thumbnail" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Prueba 2</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <img src="..." class="img-thumbnail" alt="...">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Prueba 3</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <img src="..." class="img-thumbnail" alt="...">
          </div>
        </div>
      </div>
  </div>

{%endblock%}


